@import "tailwindcss";
@source "../views";

.primary-background {
    background-color: #37496A;
}

.primary-text {
    color: #37496A;
}

html {
    scroll-behavior: smooth;
}
a{
    cursor: pointer;
}
